* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--main-bg);
}

body {
    display: flex;
    font-family: "DM Sans", Helvetica, sans-serif;
}