* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
}

.sidebar {
    height: 100%;
    width: clamp(200px, 30vw, 300px);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 10px;
    transition: width 0.3s, padding 0.3s, background-color 0.3s ease-out;
    position: relative;
    background-color: rgb(74, 178, 239);
}

.sidebar.collapsed {
    width: 35px;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
}

.sidebar-collapse-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    width: 5px;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.sidebar-collapse-button > img, .collapse-projects-indicator > img {
    width: 15px;
    height: 15px;
}
.sidebar-collapse-button:hover {
    background-color: rgba(128, 128, 128, 0.226);
}

.sidebar-collapse-button:active {
    background-color: rgba(53, 53, 53, 0.226);

}

.sidebar-sections {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: opacity 0.3s, gap 0.3s;

}

.sidebar.collapsed > .sidebar-sections, .projects-section.collapsed > .projects-container {
    opacity: 0;
    /* gap: 40px; */
    pointer-events: none;
}

.sidebar-section {
    padding: 4px 6px;
    border-radius: 10px;
    cursor: pointer;
}

.all-section:hover, .today-section:hover, .projects-header:hover {
    background-color: rgba(128, 128, 128, 0.31);

}

.projects-header {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    align-items: center;
}

.collapse-projects-indicator {
    margin-left: auto;
    transition: transform 0.3s ease-in;
}

.projects-section.collapsed .collapse-projects-indicator {
    transform: rotate(180deg);
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 5px;
    max-height: 1000px;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
}

.project-task-container {
    display: flex;
    flex-direction: column;
}

.projects-section.collapsed .projects-container {
    max-height: 0;
}

.project-task {
    list-style: none;
    margin-left: 5px;
    font-size: 0.8rem;
}

